
.ml-auto{
    padding: 20px 0px 20px 0px;  
};

.buttonicon{
    text-align: justify;
       
}

.picture{
    width: 100px;
    height: 100px;
    margin-top: 10px;
    border-radius: 50%;
}

/* .buttonsicons{
    text-align: justify;
    padding: 40px;   
    
} */

/* .list-group{
    border-width: 1px;
    border-color: grey;
} */


